body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #838383;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #6e8efb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a777e3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.toggle-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #6e8efb;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}